# Eclipse stuff
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

# IntelliJ user-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# IntelliJ Gradle
.idea/**/gradle.xml
.idea/**/libraries

.idea/modules.xml
.idea/*.iml
.idea/modules

# Stuff
build/
.gradle/
